*{
	margin: 0;
	padding: 0;
}

header{
	
	background-color: #525252;
	width: 1500px;
	height: 80px;
	position: fixed;
}
.logo1 img{
	width: 70px;
	height: 66px;
	padding: 9px 0 5px 5px;
}
/* nav bar*/
.navbar{
	overflow: hidden;
	position: fixed;
	height: 70px;
	width: 1000px;
	margin-top:-50px;
	justify-content: right;
	
	margin-left: 500px;
	align-items: center;

}
.navbar ul{
	display: flex;
	
	
}
.navbar ul li{
	
	font-family: roboto;
	font-weight: normal;
	margin-left: 16px;
	color: white;
	text-decoration: none;
	list-style: none;
	
}
.navbar ul li a{
	color: white;
	text-decoration: none;
	list-style: none;
	font-size: 14px;
	padding: 6px 10px 8px 10px;
	font-weight: normal;
	font-family: normal;
	text-decoration: none;
	list-style: none;
	margin: 4px 5px 9px 9px;
	
}



.book{

	background-color: #006072;
	border: 1px solid white;
	border-radius: 30px;
	padding-right: 10px;
	
}
.book:hover{
	background-color: black;
	display: block;
}
.books{
	border: 1px solid white;
	border-radius: 30px;	
}
.books:hover{
	background-color: black;
	display: block;
}

.simple:hover{
	background-color: black;

}



img{
	width: 1360px;
	height: 330px;
}
.pri{

	font-size: 30px;
	font-weight: 400px;
	color: #4f4f4f;
	font-weight: bold;
	width: 400px;
	height: 25px;
	
}
.l1{
	margin-top: 30px;
 margin-left:140px;
 font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}
.l2{
	margin-top: 25px;
	margin-left: 140px;
	font-size: 18px;
	font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  	letter-spacing: normal;
  	text-align: center;
  	color: #646464;
}
.lol{
	margin-top: 25px;
	margin-left: 140px;
	font-size: 18px;
	font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  	letter-spacing: normal;
  	text-align: center;
  	color: #646464;
}

 	
.news h4{
	color: #353548;
	font-size: 14px;
	margin-left: 570px;
	margin-top: 60px;
}
.inline{
	display: inline-flex;
}
.but{
	background-color: #ff7b6d;
	color: white;
	font-size: 12px;
	margin-left: 20px;
	font-weight: bold;
	border:1px solid #ff7b6d;
	border-radius: 26px;
	width: 100px;
	height: 30px;
}


.rec{
	width: 1350px;
	height: 150px;
	background-color: black;
	margin-top: 30px;
}
.pic1 img{
	width: 150px;
	height: 83px;
	padding-top: 15px;
	padding-left: 80px;
}
.navbar1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar1 ul{
	display: flex;
	list-style: none;
	margin-left: 170px;
}

.navbar1 ul li{
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	list-style: none;
	margin-top: -50px;
	padding-right: 20px;
	padding-left: 24px;
	
}
.navbar1 ul li a{
	color: white;
}

.rec h3{
	 color:#737381;
	margin-top: -4px;
	color: white;
	padding-left: 500px;
	font-size: 16px;
	font-family: normal;
	font-style: normal;
}
.getmail{
	margin-left: 525px;
}



/* media quaries*/

@media (max-width: 400px){
	header{
		width: 100%;
		height:auto;
		display: block;
	}
	.logo1 img{
	width: 42px;
	height: 43px;
	}
	.navbar{
	margin-left: 100px;
	height: auto;
	margin-top:-33px;
	
	}
	.navbar ul{
	display: block;
	overflow: hidden;
	height: auto;
	}

	img{
		width:600px;
	height: 400px;
	display: block;
	}
	.era{
		margin-left: -500px;
		font-size: 12px;
	}
	.raw{
		height: 4px;
		width: 20%;
	}
	.l1 {
		margin-left: 15px;
	}	
	.l2{
		margin-left: 15px;
	}
	.lol{
		margin-left: 15px;
	}
	.news h4{
		color: #353548;
		font-size: 17px;
		margin-left:130px;
		margin-top: 60px;
	}
	.getmail{
		margin-left: 50px;
		
	}
	.pic1 img{
			margin-left: -40px;
	}

	.navbar1{
			margin-left: 10px;
			display: block;
	}
	
			
	.navbar1 ul li{
				font-size: 15px;
				display: block;
				margin-left: -30px;
				}
			
	.rec h3{
	 	
		padding-left: 50px;
	}
}